{% load static %}
<div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-6">
            <div class="footer-section" style="margin-top: -45px">
                <a class="logo" href="{% url 'blog-home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo Image"></a>
                <p class="copyright">Idea Cloud @ 2020. All rights reserved.</p>
                <p class="copyright">Made with <i class="ion-android-favorite"></i> from <a
                        href="https://www.twitter.com/kolapooshodi" target="_blank">@Kolaposki</a></p>
                <ul class="icons">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                    <li><a href="#"><i class="ion-social-vimeo"></i></a></li>
                    <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                </ul>
            </div><!-- footer-section -->
        </div><!-- col-lg-4 col-md-6 -->

        <div class="col-lg-4 col-md-6">
            <div class="footer-section">
                <h4 class="title"><b>CATEGORIES</b></h4>
                <ul>
                    <li><a href="{% url 'category' 'news' %}">NEWS</a></li>
                    <li><a href="{% url 'category' 'tech' %}">TECH</a></li>
                    <li><a href="{% url 'category' 'health' %}">HEALTH</a></li>
                    <li><a href="{% url 'category' 'fashion' %}">FASHION</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'category' 'sport' %}">SPORT</a></li>
                    <li><a href="{% url 'category' 'politics' %}">POLITICS</a></li>
                    <li><a href="{% url 'category' 'entertainment' %}">ENTERTAINMENT</a></li>
                </ul>
            </div><!-- footer-section -->
        </div><!-- col-lg-4 col-md-6 -->

        <div class="col-lg-4 col-md-6">
            <div class="footer-section">

                <h4 class="title"><b>SUBSCRIBE</b></h4>
                <div class="input-area">
                    <form>
                        <input class="email-input" type="text" placeholder="Enter your email">
                        <button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
                    </form>
                </div>

            </div><!-- footer-section -->
        </div><!-- col-lg-4 col-md-6 -->

    </div><!-- row -->
</div><!-- container -->
