{% load static %}
{% load humanize %}
{% load my_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta property="og:image" content="{% static 'images/logo.png' %}"/>
    <meta property="og:title" content="{% block head_title %}Ideacloud{% endblock head_title %}"/>
    <meta property="og:description" content="{% block head_desc %}Insights in the cloud{% endblock head_desc %}"/>
    <meta property="og:image:width" content="265">
    <meta property="og:image:height" content="265">
    <meta property="og:site_name" content="ideacloud">


    <title>
        {% block title %}Ideacloud{% endblock title %}
    </title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

    <!-- Stylesheets -->
    <link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'common-css/main.css' %}" rel="stylesheet">
    <link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">
    <link href="{% static 'common-css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'common-css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'common-css/responsive.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'common-css/OverlayScrollbars.css' %}" rel="stylesheet"/>
</head>

<body>

<header>
    <div class="container-fluid position-relative no-side-padding">

        <a href="{% url 'blog-home' %}" class="logo"><img src="{% static 'images/logo.png' %}" alt="Logo Image"></a>

        <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

        <ul class="main-menu visible-on-click" id="main-menu">
            <li><a href="{% url 'blog-home' %}">Home</a></li>
            <li><a href="{% url 'all_category' %}">Categories</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">{{ user.username | title }}'s profile</a></li>
                <li><a href="{% url 'post_create' %}">New Post</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul><!-- main-menu -->

        <div class="src-area">
            <form action="{% url 'search' %}">
                <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                <input class="src-input" type="text" placeholder="Search Ideacloud" name="search_term"
                       value="{{ search_term }}">
            </form>
        </div>

    </div><!-- conatiner -->
</header>

{% if messages %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 mb-0 text-center">

                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endif %}

{% block content %}
    <!-- content -->
{% endblock %}

<footer>
    {% include 'partials/_footer.html' %}
</footer>

<script src="{% static 'common-js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'common-js/OverlayScrollbars.js' %}"></script>

<script src="{% static 'common-js/tether.min.js' %}"></script>

<script src="{% static 'common-js/bootstrap.js' %}"></script>

<script src="{% static 'common-js/swiper.js' %}"></script>

<script src="{% static 'common-js/scripts.js' %}"></script>
<script src="{% static 'common-js/main.js' %}"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), {});
    });
</script>
</body>
</html>