{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    <div class="slider display-table center-text">
        <h1 class="title display-table-cell" style="margin-top: -10px;"><b>Idea Cloud </b></h1>
    </div><!-- slider -->

    <section class="blog-area section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        {% include 'partials/_blog-cards.html' %}
                    </div>
                    {% include 'partials/_pagination.html' %}
                </div>
                {% include 'partials/_sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}