{% extends "blog/base.html" %}
{% load static %}
{% block title %}{{ view.kwargs.username }} | Ideacloud {% endblock title %}
{% block head_title %}{{ view.kwargs.username }} | Ideacloud {% endblock head_title %}

{% block content %}

    <div class="slider display-table center-text">
        <h1 class="title mb-3"><b>Posts by {{ view.kwargs.username }}</b><br></h1>
        <h3 class="title">Total posts : {{ posts.count }}</h3>
    </div><!-- slider -->

    <section class="blog-area section">
        <div class="container">
            <div class="row">
                {% include 'partials/_blog-cards.html' %}
            </div><!-- row -->
            <!--    Pagination Section  -->
            {% include 'partials/_pagination.html' %}
        </div><!-- container -->
    </section><!-- section -->

{% endblock %}