{% extends "sample/base.html" %}
{% load static %}
{% block content %}

    <div class="limiter mb-3">
        <div class="container-login100">
            <div class="wrap-login100">
                <form method="POST" class="login100-form validate-form">
                    {% csrf_token %}
                    <div class="mr-4">
                        <span class="login100-form-title p-b-26">
                            Login
                        </span>
                            <span class="login100-form-title p-b-48">
                            <img src="{% static 'images/logo.png' %}" style="height:60px; width:80px;">
                        </span>
                    </div>

                    <div class="text-center">
                        <span class="txt1"> {{ form.non_field_errors }}</span>
                        <span class="txt1"> {{ form.username.errors }}</span>
                        <span class="txt1"> {{ form.password.errors }}</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="username">
                        <span class="focus-input100" data-placeholder="Username"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password">
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit" style="color: #fff !important;">
                                Login
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

                        <a class="txt2" href="{% url 'register' %}">
                            Sign Up
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}