{% extends "blog/base.html" %}
{% block content %}
    <section class="blog-area section">
        <div class="container">
            <div class="alert alert-info">
                Successfully logged out
            </div>

            <div class="text-center mt-3">
                <strong><span class="txt1" style="font-size: 18px !important;">Mistake?</span></strong>
                <a class="txt2" href="{% url 'login' %}" style="font-size: 18px !important;">Log back in</a>
            </div>
        </div>
    </section>
{% endblock content %}