{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="blog-area section">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <fieldset class='form-group'>
                    <legend class="border-button mb-4">Reset Password</legend>
                    {{ form | crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}